<nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/profil">{{korisnik.ime}} {{korisnik.prezime}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
                <a class="navbar-brand" href="/profil">
                  <img src="{{korisnik.slikaUrl}}" alt="" width="30" height="40" class="d-inline-block align-text-top">
                  Profil korisnika
                </a>
             
           
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MENU
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/profil">Profil</a></li>
              <li><a class="dropdown-item" href="/zahtevnovaknjiga">Zahtev za dodavanje nove knjige</a></li>
              <li><a class="dropdown-item" href="/pretraga">Pretraga</a></li>
              <li><a class="dropdown-item" href="/azuriraj">Azuriraj profil</a></li>
              
            
          </ul>
        </li>
        
      </ul>
      

      <form class="d-flex">
          <button class="btn btn-light" type="submit" (click)="logout()">Izlogujte se</button>
        </form>
        

    </div>
  </div>
</nav>
<div class="container p-3">
  <router-outlet></router-outlet>
</div> <!--ovo mozda ne treba-->

  <form>
    <div class="row mb-3 gy-3">
        <div class="col-lg-6">
            Nova lozinka <br>
            <input type="password" name="password1"  class="form-control" placeholder="Lozinka..." [(ngModel)]="password1">
        </div>
        <div class="col-lg-6">
            Potvrdite lozinku <br>
            <input type="password" name="password2"  class="form-control" placeholder="Potvrdite lozinku..." [(ngModel)]="password2">
        </div>
    </div>
    <div class="row mb-3 gy-3">
        <div class="col-lg-6">
            Stara lozinka <br>
            <input type="password" name="stara"  class="form-control" placeholder="Stara lozinka..."[(ngModel)]="stara">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col">
                    <br>
                    <button class="btn btn-dark" (click)="change()">Potvrdite</button>
                </div>
                <div class="container mb-3">
                    <div class="row">
                        <div class="col">            
                            <div class="alert alert-danger w-50 mx-auto text-center" [class.nodisplay]="message=='nista'" role="alert">
                                {{message}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  

  <body class="d-flex flex-column">
    <hr>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small> Kontakt telefon za sve informacije: &nbsp;&nbsp;&nbsp;
          <a class="btn btn-outline-info" href="tel:+381648077841" style="padding:20px;">
            <i class="bi bi-telephone-fill"></i> <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span> +381648077841
         </a>
        </small>
      </div>
    </footer>
  </body>