
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/profil">{{korisnik.ime}} {{korisnik.prezime}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="navbar-brand" href="/profil">
                <img src="{{korisnik.slikaUrl}}" alt="" width="30" height="40" class="d-inline-block align-text-top">
                Profil korisnika
              </a>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MENU
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="profil">Profil</a></li>
                <li><a class="dropdown-item" href="pretraga">Pretraga</a></li>
                <li><a class="dropdown-item" href="/azuriraj">Azuriraj profil</a></li>

              
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <form class="d-flex">
            <button class="btn btn-light" type="submit" (click)="logout()">Logout</button>
        </form>
      </div>
    </div>
  </nav>




<div class="container p-5">
    <div class="row">
      <div class="col">
        <div class="row mb-3 gy-3">
          <div class="col-9">
            <h4>Osnovni podaci o korisniku</h4>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>Ime</th>
                  <th>Prezime</th>
                  <th>Korisnicko ime</th>
                  <th>Telefon</th>
                  <th>Email</th>
                  <th>Ulica/Broj/Grad</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>{{korisnik.ime}}</td>
                  <td>{{korisnik.prezime}}</td>
                  <td>{{korisnik.username}}</td>
                  <td>{{korisnik.telefon}}</td>
                  <td>{{korisnik.email}}</td>
                  <td>{{korisnik.ulicaBrojGrad}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-3 mx-auto">
            <td><img src="{{korisnik.slikaUrl}}" alt="" class="img-fluid border border-dark border-3 rounded-3"></td>
          </div>
        </div>
        
        
      </div>
    </div>    
    <button type="button" class="btn btn-outline-info " (click)="azurirajProfil()">Azuriraj profil</button>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
    
  
    <body class="d-flex flex-column">
      <hr>
      <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small> Kontakt telefon za sve informacije: &nbsp;&nbsp;&nbsp;
            <a class="btn btn-outline-info" href="tel:+381648077841" style="padding:20px;">
              <i class="bi bi-telephone-fill"></i> <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span> +381648077841
           </a>
          </small>
        </div>
      </footer>
    </body>